body {
  background-color: #ECEFF1;
  margin: 0;
  padding: 0;
}
h3 {
  text-align: center;
  margin: 0;
}
p {
  margin: 0;
}

#title {
  font-family: sans-serif;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  color: #ECEFF1;
}
#p1, #p2, #p3, #p4 {
  width: 45%;
  border: 1px dashed #263238;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0px 10px 0px;
  background-color: #CFD8DC;
}
#p1 {
  float: left;
  display: inline;
}
#p2 {
  float: right;
}
#p3 {
  float: left;
  display: inline;
}
#p4 {
  float: right;
}

.headerbox {
  padding: 5px;
  border: 1px solid #263238;
  border-radius: 2px;
  background-color: #263238;
}
.content {
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #263238;
  padding: 10px 0px 10px 0px;
  margin: 0 auto;
  width: 80%;
}
.content p {
  padding-top: 5px;
}

/* ---- Media Query ---- for width less than 650px */
@media (min-width:351px) and (max-width:650px) {
  #p1, #p2, #p3, #p4 {
    display: block;
    float: none;
    width: 100%;
  }
}

/* ---- Media Query ---- for width less than 350px */
@media (max-width:350px) {
  .content {
    width: 95%;
  }
  #p1, #p2, #p3, #p4 {
    display: block;
    float: none;
    width: 100%;
    font-size: 14px;
    width: 100%;
    border: 0px;
    background-color: #263238;
    color: #ECEFF1;
  }
}
